.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-text {
    font-size: 24px;
    color: #000;
    animation: loadingAnimation 1.5s ease-in-out infinite;
}